{% block content %}
<div align="center">
<h1>CSV DATA</h1>
<table border="2">
    <thead>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Email</th>
    <th>IP Address</th>
    <th>Message</th>
    </thead>
    {% for con in contact %}
    <tr>
        <td>{{con.first_name}}</td>
        <td>{{con.last_name}}</td>
        <td>{{con.email}}</td>
        <td>{{con.ip_address}}</td>
        <td>{{con.message}}</td>
    </tr>
    {% endfor %}
</table>
    </div>

{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->